.App {
  text-align: center;
  background-color: #1B5299;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F1ECCE;  
}

.App-logo {
  height: 40vmin;
}

.communityNodesList, .memberNodesList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.backButton {
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: #F1ECCE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;  
  transition: all 300ms;
  border: 0;
  border: 3px solid #383F51;
  cursor: pointer;
}

.backButton:hover {
  background-color: #E78F8E;
}

.backButton:focus {
  outline: none;
}

.description {
  width: 60%;
  margin-top: 0px;
}